.wtf{
    text-align: center;
    margin: 20px 20px;
}
h1{
    text-align: center;
}
button{

    text-align: center;
    margin:50px 20px 20px;
}
.click{
    text-align: center;
    margin: 20px 20px;
}
body{
    background-color: red;
}
